.UserCard {
  text-decoration: none;
  height: 100%;

  &:hover {
    cursor: pointer;
    background: whitesmoke;
    text-decoration: none;
  }

  .DeleteIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.UserImage {
  height: 250px;
  object-fit: cover;
}

.UserListItem {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background: whitesmoke;
    text-decoration: none;
  }

  .DeleteIcon {
    opacity: 0.5;
    font-size: 12px;

    &:hover {
      opacity: 1;
    }
  }

  .UserListText {
    vertical-align: middle;
  }

  .UserListDeleteBtn {
    text-align: right;
  }
}

.UserListImage {
  height: 40px;
  object-fit: cover;
}
